{% extends 'entidades/index.html' %}


{% block titulo %}
<h1 class="mb-5"> Acerca de nosotros </h1>  
{% endblock titulo %}


{% block contenido %}
<h2> Esta pagina cuenta acerca del equipo de Greeslyn Max </h2>
<br>
<h3> Mi nombre es Florencia, soy la CEO, el proyecto se trata de la pagina de mi agencia de tecnologia </h3>
<h3> La idea es actualizar el sitio web de mi negocio. El mismo brinda soluciones tecnologicas B2B. </h3>
<h3> Soy abogada pero ya no me gustan las leyes. Me gusta la filosofía, la programación y bailar lindy hop. </h3>

  
{% endblock contenido %}
    